@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Unit Testing Tutorial</h1>
    <form asp-action="GetPerson" method="post">
        <input id="inputFirstName" type="text" />
        <button id="submitQuery" type="submit"></button>
    </form>
</div>
